name: Build
on:
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Build Rust
        working-directory: ./test/rust
        run: |
          chmod +x ./build.sh
          ./build.sh
